#main{
    text-align: center;
    margin-top: 1em;
    margin-left: 3em;
}

#desbutton{
    margin-left: 6rem;
}

/* .bar-text-none {
    display: none;
}

.bar-text-shown {
    display: block;
} */

#h4{
    margin: 0 auto;
}

.ul{
    text-align: left;
}