#main {
    text-align: left;
    margin-top: 20px;
    margin-left: 3em;
}

.bar-text-none {
    display: none;
}

.bar-text-shown {
    display: block;
}


.country:hover {
    fill: lightgreen;
}

ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

#desbutton1 {
    display: none;
}

#desbutton2 {
    display: none;
}

.btn {
    width: 120px;
}
.col-1 {
    margin-right: 50px;
    width: 160px;
}

.col-10 {
    overflow: hidden;
}

svg {
    display: block;
    margin-left: 100px;
}

