#main {
    margin-top: 20px;
}

.bar-text-none {
    display: none;
}

.bar-text-shown {
    display: block;
}


ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.col-1 {
    margin-right: 0;
    width: 16%;
}

.col-10 {
    overflow: hidden;
}

svg {
    display: block;
    width: 80%;
    margin-left: 90px;
}

p {
    font-size: 11pt;
}

.col-1 {
    margin-right: 0;
    width: 16%;
}

.col-10 {
    overflow: hidden;
}

.row {
    margin: 0 auto;
    position: relative;
    max-width: 1440px;
}
