#main{
    margin-top: 20px;
}

.country:hover {
    fill: lightgreen;
}

ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.col-1 {
    margin-right: 0;
    width: 16%;
}

.col-10 {
    overflow: hidden;
}

svg {
    display: block;
    margin-left: 100px;
}

p {
    font-size: 11pt;
}

.row {
    margin: 0 auto;
    position: absolute;
    max-width: 1440px;
}

